# Visual Studio files
.vs/
*.suo
*.user
*.sln.docstates

# Build results
[Dd]ebug/
[Rr]elease/
[Oo]bj/
x64/
x86/

# NuGet packages
packages/

# User-specific files
*.suo
*.user
*.sln.docstates

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# Resharper
_ReSharper*/

# Rider
.idea/

# Visual Studio Code
.vscode/

# Others
*.log
*.vspscc
*.vssscc
*.pidb
*.svclog
*.bak
*.cache
*.csproj.user